/* This file imports all your scss partials to be compiled in one stylesheet, which can be attached to your html.
All the files that are refixed with an underscore
"_name-of-file.scss" are called partials - meaning that their css isn't compiled unless it's imported into an unprefixed .scss file */
@-moz-viewport {
  width: device-width;
  scale: 1; }

@-ms-viewport {
  width: device-width;
  scale: 1; }

@-o-viewport {
  width: device-width;
  scale: 1; }

@-webkit-viewport {
  width: device-width;
  scale: 1; }

@viewport {
  width: device-width;
  scale: 1; }

/* line 9, /Users/katiesitu/Desktop/web-dev/exercise-4/scss/components/_main */
html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%; }

/* line 18, /Users/katiesitu/Desktop/web-dev/exercise-4/scss/components/_main */
*, *:before, *:after {
  box-sizing: inherit; }

/* line 22, /Users/katiesitu/Desktop/web-dev/exercise-4/scss/components/_main */
body {
  margin: 0;
  font-family: 'Raleway', sans-serif; }

/* line 27, /Users/katiesitu/Desktop/web-dev/exercise-4/scss/components/_main */
ul {
  list-style: none;
  padding: 0.5em; }

/* line 32, /Users/katiesitu/Desktop/web-dev/exercise-4/scss/components/_main */
.grid {
  overflow: hidden; }

/* line 36, /Users/katiesitu/Desktop/web-dev/exercise-4/scss/components/_main */
.unit {
  float: left; }

/* line 40, /Users/katiesitu/Desktop/web-dev/exercise-4/scss/components/_main */
img {
  width: 100%; }

/* line 44, /Users/katiesitu/Desktop/web-dev/exercise-4/scss/components/_main */
.unit-s-2 {
  width: 50%; }

/* line 48, /Users/katiesitu/Desktop/web-dev/exercise-4/scss/components/_main */
.fa {
  padding-left: 0.5em; }

/* line 52, /Users/katiesitu/Desktop/web-dev/exercise-4/scss/components/_main */
h3 {
  background-color: #fff;
  padding: 2em 0;
  margin: 0;
  text-align: center; }

/* line 59, /Users/katiesitu/Desktop/web-dev/exercise-4/scss/components/_main */
.text-view div {
  opacity: 1;
  position: relative;
  top: -38em;
  transition: all 1s linear;
  z-index: -2; }

/* line 70, /Users/katiesitu/Desktop/web-dev/exercise-4/scss/components/_main */
.text-view:hover div {
  top: 0;
  z-index: -2; }

@media only screen and (min-width: 60em) {
  /* line 76, /Users/katiesitu/Desktop/web-dev/exercise-4/scss/components/_main */
  .unit-m-4 {
    width: 25%; }
 }
