// Main

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;

	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body{
	margin: 0;
	font-family: $font;
}

ul{
	list-style: none;
	padding: .5em;
}

.grid {
	overflow: hidden;
}

.unit {
	float: left;
}

img{
	width: 100%;
}

.unit-s-4{
	width: 25%;
}

.fa{
	padding-left: .5em;
}

h3{
	padding: .5em;
	text-align: center;
}

.text-view{
	opacity: 1;
	background-color: $white;
	-webkit-transition: opacity 0.5s ease-in 0s;
	-moz-transition: opacity 0.5s ease-in 0s;
	-o-transition: opacity 0.5s ease-in 0s;
	transition: opacity 0.5s ease-in 0s;
	-webkit-transition: background-color 0.5s ease-in 0s;
	-moz-transition: background-color 0.5s ease-in 0s;
	-o-transition: background-color 0.5s ease-in 0s;
	transition: background-color 0.5s ease-in 0s;
}

.text-view:hover{
	opacity: .75;
	background-color: $blue;
	}
